brew "bat"
brew "fish"
brew "fzf"
brew "ripgrep"
brew "zoxide"

brew "jj"
brew "lazygit"
{% if install_neovim %}
brew "neovim"
{% endif %}

{% if install_golang %}
brew "go"
{% endif %}
{% if install_rust %}
brew "rustup"
{% endif %}
{% if install_node %}
brew "node"
{% endif %}
{% if install_deno %}
brew "deno"
{% endif %}

