[Unit]
Description=Bridge Windows SSH agent with WSL agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat UNIX-LISTEN:"${XDG_RUNTIME_DIR}/wsl2-ssh-pageant.sock,fork" EXEC:"${HOME}/.local/bin/wsl2-ssh-pageant.exe"
Restart=on-failure

[Install]
WantedBy=default.target
