# vars
tmux_dir="{{ config_dir }}/tmux"
config_dir="$tmux_dir/configs"
tmux_plugins_dir="{{ data_dir }}/tmux/plugins"

# Load keybindings
source "$config_dir/keybindings.conf"

# Enable mouse control (clickable windows, panes, resizable panes)
set -g mouse on

# start windows numbering at 1
set -g base-index 1

# make pane numbering consistent with windows
setw -g pane-base-index 1

# rename window to reflect current program
setw -g automatic-rename on

# set terminal title
set -g set-titles on

# Fix colors
set -g default-terminal "screen-256color"
set-option -sa terminal-overrides ",xterm*:Tc"

# This is need to be something other than 0, otherwise terminal emulators in
# windows will print 0;10;1c. This happens with WSL and ssh sessions.
set -sg escape-time 1

# Go to another active session if the current one dies.
set-option -g detach-on-destroy off


{% if is_wsl %}
# Fix UTF-8 clipboard support in WSL
set -g @custom_copy_command 'customclip(){ local STDIN=$(cat -); powershell.exe -command "Set-Clipboard" -Value "$STDIN"; }; customclip'
{% endif %}

###
# plugins
###

# Use corrent plugin folder
set-environment -g TMUX_PLUGIN_MANAGER_PATH "$tmux_plugins_dir"

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'

# Set theme
set -g @plugin 'niksingh710/minimal-tmux-status'
#set -g status-position top # it is handle by theme option below
set -g @minimal-tmux-status "top"

# Yank with clipboard integration
set -g @plugin 'tmux-plugins/tmux-yank'

# Quickly change tmux sessions
set -g @plugin 'claudio4/tmux-session-wizard'
set -g @session-wizard 't'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run "$tmux_plugins_dir/tpm/tpm"
